@import "/src/styles/_color";
@import "../../styles/_variables";

.widget__weatherFiveDays {
    display: flex;
    flex-direction: column;
    row-gap: 25px;

    .widget__weatherTable {
        font-size: $font-size-table;

        .widget__tableColumn {
            display: flex;
            flex-direction: column;
            gap: 1px;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .widget__cloudinessImg {

                .widget__cloudinessIcon {
                    width: 25px;
                }
            }
    
            .widget__tableRow {
                padding: 5px 10px;
                display: flex;
                justify-content: space-between;
                column-gap: 10px;

                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .widget__dayWeek {
                display: flex;
                border-radius: 5px;
                overflow: hidden;
                width: 100%;

                .widget__line {
                    width: 100%;
                }
                
                .widget__date {
                    min-width: 115px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    column-gap: 5px;
                    padding: 5px;
                    color: #fff;
                    background: linear-gradient(to right, #9d9dff -35%, #0060a9 90%);
                    
                    .widget__day {
                        text-transform: uppercase;
                    }
                }

                .widget__time {
                    min-width: 35px;
                }

                .widget__cloudiness {
                    min-width: 170px;
                }

                /* .widget__pressure {
                    min-width: 78px;
                } */

                .widget__humidity {
                    min-width: 31px;
                }

                .widget__pressure,
                .widget__humidity,
                .widget__wind {
                    font-weight: 400;
                }

                .widget__tableRowLight {
                    background: linear-gradient(to right, #fffea6, #ffffff);
                }

                .widget__tableRowDark {
                    background: linear-gradient(to right, #a0a0a0, #ffffff);
                }
            }
        }
    }

    .widget__city {
        font-size: $font-size-large;
    }

    .widget__temperatureCurrent {
        min-width: 35px;
        font-size: 16px;
        display: flex;
        justify-content: center;
    }

    .widget__temperaturePlus {
        color: $base-warm;
    }

    .widget__temperatureMinus {
        color: $base-blue;
    }

    .widget__temperatureExt {
        font-size: 20px;
    }
}

@media (max-width: 768px) {

    .widget__weatherFiveDays {

        .widget__weatherTable {
    
            .widget__tableColumn {

                .widget__dayWeek {

                    .widget__cloudiness {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 490px) {

    .widget__weatherFiveDays {

        .widget__weatherTable {
    
            .widget__tableColumn {

                .widget__tableRow {
                    padding: 3px 5px;
                    column-gap: 3px;
                }

                .widget__dayWeek {

                    .widget__date {
                        min-width: 50px;
                        
                        .widget__day {
                            text-transform: uppercase;
                        }

                        .widget__currentDate {
                            display: none;
                        }
                    }


                    .widget__pressure,
                    .widget__humidity,
                    .widget__wind,
                    .widget__time {
                        font-size: 10px;
                    }
                }
            }
        }

        .widget__city {
            font-size: $font-size-middle;
        }
    }
}