@import "/src/styles/_color";
@import "../../styles/_variables";

.widget__weatherFiveDays {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;

    .widget__weatherTable {

        .widget__tableColumn {
            display: grid;
            grid-auto-columns: 1fr;
            grid-auto-flow: column;
            grid-template-rows: auto auto;
    
            .widget__cloudinessImg {
                width: 50px;
            }
    
            .widget__tableRow {
                display: grid;
                grid-auto-rows: 1fr;
            }

            .widget__dayWeek {
                display: grid;
                grid-auto-columns: 1fr;
                grid-auto-flow: column;
                grid-template-rows: auto auto;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                background: linear-gradient(to bottom, #7171fc, #2a2afc);
                
                .widget__date {
                    grid-column: span 3;
                }
            }
        }
    }

    .widget__city {
        font-size: $font-size-large;
    }
    
    .widget__temperatureCurrent {
        font-size: $font-size-middle;
    }

    .widget__temperaturePlus {
        color: $base-warm;
    }

    .widget__temperatureMinus {
        color: $base-blue;
    }

    .widget__temperatureExt {
        font-size: 20px;
    }

    .widget__cloudiness {
        font-size: $font-size-middle;
    }
}