@import "/src/styles/_color";
@import "../../styles/_variables";

.widget__weatherFiveDays {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;

    .widget__weatherTable {
        font-size: $font-size-table;

        .widget__tableColumn {
            display: flex;
            flex-direction: column;
            gap: 1px;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .widget__cloudinessImg {

                .widget__cloudinessIcon {
                    width: 25px;
                }
            }
    
            .widget__tableRow {
                padding: 5px 10px;
                display: flex;
                justify-content: space-between;
                column-gap: 10px;

                div {
                    display: flex;
                    align-items: center;
                }
            }

            .widget__dayWeek {
                display: flex;
                border-radius: 5px;
                overflow: hidden;
                width: 100%;

                .widget__line {
                    width: 100%;
                }
                
                .widget__date {
                    min-width: 115px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    column-gap: 5px;
                    padding: 5px;
                    background: linear-gradient(to right, #9d9dff, #4e4eff);
                    
                    .widget__day {
                        text-transform: uppercase;
                    }

                    .widget__currentDate {
                        font-size: 12px;
                    }
                }

                .widget__time {
                    min-width: 35px;
                    font-size: 12px;
                }

                .widget__pressure,
                .widget__humidity,
                .widget__wind {
                    font-size: 12px;
                }

                .widget__tableRowLight {
                    background: linear-gradient(to right, #ffefa6, #ffffff);
                }

                .widget__tableRowDark {
                    background: linear-gradient(to right, #777777, #ffffff);
                }
            }
        }
    }

    .widget__city {
        font-size: $font-size-large;
    }

    .widget__temperatureCurrent {
        min-width: 35px;
        font-size: 16px;
        display: flex;
        justify-content: center;
    }

    .widget__temperaturePlus {
        color: $base-warm;
    }

    .widget__temperatureMinus {
        color: $base-blue;
    }

    .widget__temperatureExt {
        font-size: 20px;
    }

    .widget__cloudiness {
        min-width: 115px;
    }
}